@import 'mixins';

/* Header component */
.header {
  padding: 20px;

  @include tablet {
    background-color: $primary-color;
    color: white;
  }

  @include desktop {
    background-color: $secondary-color;
    color: black;
  }
}